<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/about.css">
    <title>About</title>
</head>

<body>
    <div class="content">
        <h1>About</h1>
        <p class="fly-text">This web application was develop with purpose to learn build web applications without frameworks such as Django, Flask. Try to understand how it works underhood.</p>
        <p class="fly-text">This web application has authentication and autherization features. Users can sign-up, log in, log out. Users has acces to view another published users posts. Users can create/edit/delete own posts and ask them for publshing</p>
        <p class="fly-text">Admins inherit all user permissions and have ability to review and publishing users post, which was request to publish.</p>
        <p class="fly-text">Not identified clients can view pages Home ('/'), Main ('/main'), Authors ('/authors'), Login ('/login'), Sign-Up ('/signup'), to access other pages client need to log in.</p>
    </div>
</body>

</html>