<html !DOCTYPE html>

<head>
    <title>python-html</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    <div class="container">
        <a href="/authors">
            <div class="div top-left">
                <div class="text">top-left</div>
                <div class="big-text authors">Authors</div>
            </div>
        </a>
        <a href="/post/new">
            <div class="div top-center">
                <div class="text">top-center</div>
                <div class="big-text post">Write post</div>
            </div>
        </a>
        <div class="div top-right">
            <div class="text">top-right</div>
        </div>
        <a href="/admin">
            <div class="div mid-left">
                <div class="text">mid-left</div>
                <div class="big-text admin">Admin</div>
            </div>
        </a>
        <a href="/main">
            <div class="div mid-center parallax">
                <div class="text ">Main</div>
                <div class="big-text main">Main</div>
            </div>
        </a>
        <a href="/login">
            <div class="div mid-right">
                <div class="text">Login</div>
                <div class="big-text login">Login</div>
            </div>
        </a>
        <a href="/about">
            <div class="div bottom-left">
                <div class="text">About</div>
                <div class="big-text about">About</div>
            </div>
        </a>
        <div class="div bottom-center">
            <div class="text">bottom-center</div>
        </div>
        <a href="/signup">
            <div class="div bottom-right">
                <div class="text">Sign Up</div>
                <div class="big-text sign-up">Sign up</div>
            </div>
        </a>
    </div>

    <script defer src="static/js/index.js"></script>
</body>

</html>