<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">\
    <title>Main</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <div class="container">
        <form action="" method="POST" enctype="application/json">
            <label for="text">Text</label>
            <input type="text" name="text" id="text" placeholder="enter somethin">
            <input type="submit" />
        </form>
        {% if posts %}
        <div class="posts">
            <ol>
                {% for post in posts %}
                <li>{{ post }}</li>
                {% endfor %}
            </ol>

        </div>
        {% endif %}
    </div>
</body>

</html>