<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if is_owner %}
    <a href="/post/new">
        <div class="button">create new</div>
    </a>
    <a href="/post/{{post.post_id}}/edit">
        <div class="button">edit</div>
    </a>
    {% if post.published %}
    <div class="button succeed">published</div>
    {% else %} {% if post.request_publish%}
    <div class="button requested">requested to publish</div>
    {% else %}
    <a href="/post/{{post.post_id}}/request_publish">
        <div class="button publish">publish</div>
    </a>
    {% endif %} {% endif %}
    <div class="button danger">Delete</div>
    {% endif%}
    <!--Post section-->
    {% if post %}
    <div class="title">{{post.title}}</div>
    <!--Author-->
    <div class="text">{{post.text}}</div>
    {% endif %}
    <script src="static/js/post.js"></script>
</body>

</html>