{% extends 'layout.html' %} {% block body%}
<link rel="stylesheet" href="/static/css/users_post.css" type="text/css">

<body>
    {% if is_owner %}
    <a href="/post/new">
        <div class="button">create new post</div>
    </a>
    {% endif %}
    <!-- Post section-->
    {% if posts%}
    <!--list of posts-->
    {% for post in posts %}
    <p>{{loop.index}} - <a href="/post/{{post.post_id}}">{{post.title}}</a></p>
    {% endfor %} {%else%}
    <!-- In case when user didtn post anything yet-->
    {% if is_owner %}
    <!-- if it is owner then we see following text-->
    <p> You didn't post anything yet. <a href="/post/new">Create a new post.</a></p>
    {% else%}
    <!-- This user has not post anything yet.-->
    <p>This user has not post anything yet.</p>
    {% endif %} {% endif %} {%endblock %}