<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if is_owner %}
    <div class="button">create new post</div>
    {% endif %}
    <!-- Post section-->
    {% if posts%}
    <!--list of posts-->
    {% for i, post in enumerate(posts) %}
    <p>{{i}} - <a href="post/{{post.id}}">{{post.title}}</a></p>
    {% endfor %} {%else%}
    <!-- In case when user didtn post anything yet-->
    {% if is_owner %}
    <!-- if it is owner then we see following text-->
    <p> You didn't post anything yet. <a href="/post/new">Create a new post.</a></p>
    {% else%}
    <!-- This user has not post anything yet.-->
    <p>This user has not post anything yet.</p>
    {% endif %} {% endif %}
</body>

</html>