* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
    padding: 40px 80px;
    display: flex;
    justify-content: center
}

.container {
    border: 2px rgb(255, 255, 255);
    border-style: none;
    width: 1200px;
    height: 600px;
    display: grid;
    grid-template: "main function function1 function1" "function2 function function3 function3" "function4 function4 function3 function3";
    padding: 9px;
    gap: 9px;
    flex-wrap: nowrap;
    flex-flow: nowrap;
}

.posts {
    position: relative;
    width: 600px;
    border: 1px solid #fff;
    padding: 5px 20px;
    padding-right: 25px;
}

.posts li {
    color: #fff;
}

.posts li:hover {
    background-color: rgb(85, 85, 85);
}

.posts li .buttons {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.posts li .button {
    display: inline-block;
    margin: 2px 2px;
    border-radius: 2px;
}

.posts li .button:hover {
    text-decoration: underline;
    color: azure;
    cursor: pointer;
}