.container {
    border: 2px rgb(255, 255, 255);
    border-style: none;
    width: 1200px;
    height: 600px;
    padding: 9px;
}

.submit {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    pointer-events: all;
    outline-offset: 0px;
    background-color: transparent;
    font-size: 12px;
    color: rgb(255, 255, 255);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-cover {
    width: 100px;
    height: 35px;
    display: inline-block;
    border: 1px solid rgba(199, 199, 199);
    pointer-events: none;
}

.submit:hover {
    background-color: white;
    color: black;
}

form {
    display: block;
}

#text {
    height: 35px;
    border: 1px solid rgba(199, 199, 199);
    background-color: black;
    color: white;
    font-size: 14px;
    padding-left: 8px;
    outline-color: white;
}

#error {
    font-size: 12px;
    color: rgb(247, 67, 67);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.posts {
    justify-self: center;
}

.posts a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.posts a:hover {
    background-color: #949592;
}

.posts a p:last-child {
    font-size: 12px;
    color: #ECF7CF;
}